@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: rgb(213, 200, 175);
  --secondary: rgb(35, 33, 48);
  --accent:white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(35, 33, 48);
    --secondary:rgb(213, 200, 175);
    --accent: white;
  }
} */

body {
  color: var(--secondary);
  background: var(--primary);
  
}
